.no-results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
    margin-left: 100px;
    min-height: 80vh; /* Make it occupy more vertical space */
    width: 200%;
    background-color: white;
    /* background-color: black; */


    border-radius: 15px;
   
  }
  
  .no-results-image {
    width: 350px;
    height: 350px;
    margin-top: -200px;
    margin-bottom: -30px;
  }
  
  .no-results-container h2 {
    font-size: 32px;
    color: #49557e;
    margin-top: -10px;
    margin-bottom: -120px;
  }
  
  .no-results-container p {
    font-size: 18px;
    color: #666;
    max-width: 600px;
    margin-top: 140px;
    margin-bottom: -150px;
  }
  
  @media (max-width: 1200px) {
    .no-results-container {
      padding: 30px;
      max-width: 90%;
    }
  
    .no-results-container h2 {
      font-size: 28px;
    }
  
    .no-results-container p {
      font-size: 16px;
    }
  }
  
  @media (max-width: 768px) {
    .no-results-container {
      padding: 20px;
      max-width: 95%;
    }
  
    .no-results-container h2 {
      font-size: 24px;
    }
  
    .no-results-container p {
      font-size: 14px;
    }
  }
  
  @media (max-width: 600px) {
    .no-results-container {
      padding: 15px;
      max-width: 90%;
      margin-left: 10px;
      margin-top: -30px;
      margin-bottom: -100px;
    }
  
    .no-results-container h2 {
      font-size: 30px;
    }
  
    .no-results-container p {
      font-size: 19px;
    }
  }
  