.add{
    width: 70%;
    margin-left: max(5vw,25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}

.add form{
    gap: 20px;
}

.add-img-upload img {
  aspect-ratio: 1 / 1;
  width: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.book-card img {
  width: 100%;
  height: 250px;          /* or any fixed height that fits your design */
  object-fit: cover;
  border-radius: 10px;
}


.add-product-name, .add-product-description{
    width: max(40%,280px);
}

.add-product-name input , .add-product-description textarea{
    padding: 10px;
}

.add-category-price{
    display: flex;
    gap: 30px;
}

.add-category-price select, .add-category-price input{
    max-width: 120px;
    padding: 10px;
}

.add-button{
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

