/*
.footer{ /*overall footer */
   /*
 color: #d9d9d9;
 background-color: #323232;
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 20px;
 padding: 20px 8vw;
 padding-top: 80px;
 margin-top: 100px;
}

.footer-content{ /*contents right , lefte center */
   /* width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}

/*overall sab footer-left right k liye changes */
/*.footer-content-left, .footer-content-right, .footer-content-center{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:20px
}

.footer-content-left li, .footer-content-right li, .footer-content-center li{
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
 }

  .footer-content-right h2, .footer-content-center h2{
    color: white;
 }

 .footer-social-icons img{ /*foote icons faceook*/ 
  /*  width: 40px;
    margin-right: 15px;
 }

 .footer hr{
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: grey;
    border: none;
 }

 @media (max-width : 750px) {
         .footer-content{
            display: flex;
            flex-direction: column;
            gap: 35px;
         }
         .footer-copyright{
            text-align: center;
         }
 }
 
 */

 /*grillz logo*/

 /* Overall footer */


 
.footer {
   color: #d9d9d9;
   background-color: #323232;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
   padding: 20px 8vw; /* Consider using a consistent unit */
   padding-top: 80px;
   margin-top: 100px;
 }
 
 /* Contents right, left, center */
 .footer-content {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(3, 1fr); /* More flexible approach */
   gap: 80px;
 }
 
 /* Overall sub footer left, right, center changes */
 .footer-content-left,
 .footer-content-right,
 .footer-content-center {
   display: flex;
   flex-direction: column;
   align-items: start;
   gap: 20px;
 }
 
 .footer-content-left li,
 .footer-content-right li,
 .footer-content-center li {
   list-style: none;
   margin-bottom: 9px;
   cursor: pointer;
 }
 
 .footer-content-right h2,
 .footer-content-center h2 {
   color: white;
   margin-top: -40px;
  
 }
 
 /* Footer social icons */
 .footer-social-icons {
   display: flex;
   gap: 15px;
 }
 
 .footer-social-icons img {
   width: 20px;
   height: 20px;
 }
 
 /* Footer horizontal line */
 .footer hr {
   width: 100%;
   height: 2px;
   margin: 20px 0;
   background-color: grey;
   border: none;
 }
 
 /* Grillz logo */
 .footer-content-left img {
  width: 130px; /* Keep layout width small */
  transform: scale(1.9); /* Makes it look larger visually */
  transform-origin: left center; /* Zooms from left side */
  margin-top: -50px;
  margin-bottom: 1px;
  margin-left: -20px;
}

 
 /* Media query for smaller screens */
 @media (max-width: 750px) {
   .footer-content {
     display: flex;
     flex-direction: column;
     gap: 65px;
   }
   /* Consider removing this selector if not used */
   .footer-copyright {
     text-align: center;
   } 
 }