.header{ /*from here we can change the actuall loook for all stuf*/
    height: 37vw;
    width: auto;
    margin: auto;
    /* background: url('../../assets/header_img.png') no-repeat; */
    background: url('../../assets/Banner_Book.jpg') no-repeat;

    background-size: contain;
    position: relative;
    
}
.header-contents{ /*text in hero img or banner*/
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:1.5vw;
    max-width: 50%;
    top: 15%;
    bottom: 20%;
    left:6vw;
    animation: fadeIn 3s ;
}

.header-contents h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
}

.header-contents p{
    color:white;
    font-size: 1vw;
}

.header-contents button{
    border:none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw,13px);
    border-radius: 50px;
}

@media (max-width:1050px){
   
    .header-contents{
        max-width: 45%;
    }

.header{
    height: 40vw;
    
}

}
@media (max-width:750px){

    .header-contents{
        max-width: 65%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}